* {
    position: relative;
    padding: 0;
    margin: 0;
}

.main-view {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    font-family: 'Tahoma', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 100%;
    background-color: white;
}

.title-view {
    display: flex;
    flex: 10%;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-left: 10%;
    width: 100%;
    text-align: center;
    background-color: white;
}

.nba-logo {
    width: 30px;
}

.nba-title {
    padding-left: 10px;
}

.table-view {
    display: flex;
    flex: 90%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 90%;
    background-color: white;
}

table {
    width: 95%;
    height: 90%;
    border-collapse: collapse;
}

table tr:nth-child(odd) td{
    background-color: white;
}
table tr:nth-child(even) td{
    background-color: #d2d9e8;
}

.table-header {
    cursor: pointer;

    padding: 7px;
    text-align: center;
    font-size: 1.0em;
    color: white;
    background-color: #1d428a;
}

.table-header:active {
    background-color: #c8102e;
}

.no-cursor {
    cursor: not-allowed;
}

.table-entry {
    text-align: center;
    font-size: 0.9em;
    border-right:1px solid #e8ecf3;
}

.table-entry:hover {
    background-color: #e8ecf3;
}

.points-column {
    border-right:0px;
}

.pagination-bar {
    padding-top: 15px;
    text-align: center;
    font-size: 0.9em;
}
